<!-- Header -->
<div class="relative pb-16">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap"  >
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          
          <app-card-stats *ngIf="comment"  
            statSubtitle="COMMENTS"
            statTitle ={{comment.length}}
            statArrow="up"
            statPercent="3.48"
            statPercentColor="text-emerald-500"
            statDescripiron="Since last month"
            statIconName="far fa-comment"
            statIconColor="bg-blue-900"
            
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="+ COMMENTS RATES"
            statTitle={{commentPositive}}
            statArrow="down"
            statPercent="6.73"
            statPercentColor="text-red-500"
            statDescripiron="Since last week"
            statIconName="fas fa-plus"
            statIconColor="bg-blue-900"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="USER REGISTRATION"
            statTitle="5"
            statArrow="down"
            statPercent="1.10"
            statPercentColor="text-orange-500"
            statDescripiron="Since yesterday"
            statIconName="fas fa-users"
            statIconColor="bg-blue-900"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="VISITOR"
            statTitle="12"
            statArrow="up"
            statPercent="12"
            statPercentColor="text-emerald-500"
            statDescripiron="Since last month"
            statIconName="fas fa-user"
            statIconColor="bg-blue-900"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
