
      <div class='max-w-6xl mx-auto space-y-6'>

          <!-- Component starts here -->
          <h2 class="flex flex-row flex-nowrap items-center my-8">
              <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
              <span class="flex-none block mx-4   px-4 py-2.5 text-xs leading-none font-medium uppercase bg-black text-white">
                  {{href}}
              </span>
              <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
          </h2>
          <!-- Component ends here -->

      </div>
