<div
  class="relative flex flex-col min-w-0 break-words mb-6 bg-white  shadow-lg rounded h-full"
>
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-base text-blueGray-700">Commentaire Grow_Rate Last 7 Month</h3>
      </div>
      <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
     
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table  class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Number of Comments
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Month
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Year
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Difference
          </th>
        </tr>
      </thead>
      <tbody *ngFor=" let data of datas ">
        <tr>
          <th
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left"
          >
            {{data.split(',')[0]}} Comments
          </th>  
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          >
          {{data.split(',')[1]}}
        </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          >
          {{data.split(',')[2]}}

          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          >
            <i *ngIf="data.split(',')[3]>0" class="fas fa-arrow-up  text-emerald-500 mr-4"></i>
            <i *ngIf="data.split(',')[3]<0" class="fas fa-arrow-down  text-red-500  text-emerald-500 mr-4"></i>

            {{(data.split(',')[3])}}%
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>

<!-- component -->



