<div class="relative h-50 flex flex-col min-w-0 break-words bg-blue-100 rounded mb-6 xl:mb-0 shadow-lg"
     [ngClass]="statColor">
  <div class="flex-auto p-4">
    <div class="flex flex-wrap ">
      <div class="relative w-full my-6 pr-4 max-w-full flex-grow flex-1">
        <h5 class="text-blueGray-700 brea w-full uppercase font-bold text-xs">
          {{ statSubtitle }}
        </h5>
        <span class="font-semibold my-6 text-xl text-blueGray-400">
          {{ statTitle }}
        </span>
      </div>
      <div class="relative w-auto my-6 pl-4 flex-initial">
        <div class="p-3 text-center inline-flex items-center justify-center w-12 h-12 text-2xl text-blueGray-400">
          <i [ngClass]="statIconName"></i>
        </div>
        <div class="p-3 text-center inline-flex items-center justify-center w-12 h-12 text-2xl text-blueGray-700">
          <i class="fa-solid fa-calendar-days"></i>
        </div>
      </div>
    </div>
  </div>
</div>
