<div
  class="relative flex flex-col min-w-0 break-words mb-6 "
>
<div class="rounded-t mb-0 px-4 py-3 bg-blue-900">
  <div class="flex flex-wrap items-center">
    <div class="relative w-full max-w-full flex-grow flex-1">
      <h6 class="uppercase text-blueGray-100 mb-1 text-xs font-semibold">
        Overview
      </h6>
      <h2 class="text-white text-xl font-semibold">COMMENTS DISTRIBUTION BY TOPIC</h2>
    </div>
  </div>
</div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead class="thead-light">
        <tr>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
          Emotion
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Numbers
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px"
          ></th>
        </tr>
      </thead>
      <tbody *ngFor="let ele of data ">
        <tr  >
          <th
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left"
          >
          {{ele.split(',')[1]}}
          </th>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          >
          {{ele.split(',')[0]}}
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          >
            <div class="flex items-center">
              <span class="mr-2">{{  (((ele.split(',')[0] ) * 100 ) / allComments ).toFixed(0)}} %</span>
              <div class="relative w-full">
                <div
                  class="overflow-hidden h-2 text-xs flex rounded bg-red-200"
                >
                  <div
                  style= "width: {{  (((ele.split(',')[0] ) * 100 ) / allComments ).toFixed(0)}}%"
                    class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500"
                  ></div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
